.cool {
    background: url('../Image/pixel.png') no-repeat center center fixed;
    image-rendering: pixelated;
}
#movieposter {
    height: 200px;
    float: right;
    padding-bottom: 50px;
    padding-right: 100px;
}

.info {
    width: 40%;
    float: left;
}

#submitbutton {
	position:relative;
	top: 10px;
	right:-424px;
}
#SearchByTitle {
	text-align:center;
}
#SearchBar {
	position:relative;
	top: 10px;
	right:-424px;
}

#CyaSkater {
	position: relative;
	right: 70px;
}

#ExplosionBall {
	position: relative;
	right: -800px;
	top: -370px;
	
}

.row {
    background-color: beige;
    border: 5px, solid ;
}