body {
    background: url(../Image/pixel.png) no-repeat center center fixed;
    background-size: cover;
    image-rendering: pixelated;
}
#movieposter {
    height: 200px;
    float: right;
    padding-bottom: 50px;
    padding-right: 100px;
}

.info {
    width: 40%;
    float: left;
    color: red;
}

.row {
    background-color: beige;
    border: 5px, solid ;
}
