body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#plot {
	text-align:center;
	position:relative;
	left: 250px;
	top:-175px;
	padding-right:2in;	
	padding-left:2in;
	font-size:.2in;
	
}

#desc {
	text-align: center;
	position: relative;
	left: 250px;
	top: -530px;
	font-size:.5in
}

#title {
	text-align: center;
	position: relative;
	left: 250px;
	top: -450px;
	font-size: .5in
}
#theBody {
	position:relative;
	top:-150px;
	font-size:.2in;
}
.favButton {
	cursor:pointer;
	border: none;
	width: 50px;
	height: 50px;
	position:relative;
	top:-200px;
	background: url('../Images/favButton1.png')no-repeat ;
}

.favButton:active{
		background: url('../Images/favButton2.png') no-repeat;
	}
