<<<<<<< HEAD
﻿<p>Cool error bro</p>
=======
﻿<h1 id="Error">@ViewBag.Error</h1>
<p>@Html.ActionLink("Go home", "Index", "Home")</p>
<img id="404" src="~/Image/404d.png" />
>>>>>>> c945585d3fd79657bf2f71420266a18f2890cd6c
