
@{
    ViewBag.Title = "Index";
}
<h1>Movies</h1>

<p>These are the movies that we have access to!</p>

@foreach (var item in Model.Items)
{
    <ol>
        <li>>@item.Title</li>
        <li><img src="@item.Image" /></li>
        <li><a href="@item.Link" target="_blank">Link</a></li>
    </ol>
}